/NewLab/nbproject/private/
/NewLab/build/
/Lab3/nbproject/private/
/Lab3/build/
/LabAssignment3/nbproject/private/
/LabAssignment3/build/
/testing/nbproject/private/
/testing/build/
/Lab4/nbproject/private/
/LabSession4/nbproject/private/
/LabSession4/build/
/Testing/nbproject/private/
/Testing/build/
/Test2/nbproject/private/
/Test2/build/
/JavaApplication11/nbproject/private/
/LabAssignment4/build/
/Lab5/nbproject/private/
/Lab5Assignment/nbproject/private/
/Lab5Assignment/build/
/ClassF/nbproject/private/
/ClassFTesting/nbproject/private/
/ClassFTesting/build/
/Battleship/nbproject/private/
/Battleship/dist/
/Battleship/build/
/.metadata/
/LabAssignment-7/nbproject/private/
/LabAssignment-7/build/
/Assignment_DesignPatterns/SingletonDesignPatternDemo/nbproject/private/

/Assignment_DesignPatterns/SingletonDesignPatternDemo/build/
/Assignment_DesignPatterns/FactoryDesignPatternDemo/build/
/Assignment_DesignPatterns/FactoryDesignPatternDemo/dist/
/Assignment_DesignPatterns/FacadeDesignPatternDemo/dist/
